.component
  &__demo
    background: #f7f2ff
    border: 1px solid #e5d5ff
    height: 20rem
.config
  background: #fff    
  //border-bottom: 4px solid var(--color-accent)
  box-shadow: 0px 8px 20px 0px #0b001a82
  bottom: calc(100% - 1rem)
  position: absolute
  &__heading    
    // bottom: calc(100% - 1rem)
    //left: 6rem
    position: absolute
    bottom: 0
    --icon-color: #00ffb3