.component
  &__demo
    background: #f7f2ff
    border: 1px solid #e5d5ff
    height: 20rem
.config
  background: #fff      
  box-shadow: 0px 8px 20px 0px #0b001a82  
  align-items: center 
  flex-wrap: wrap 
  z-index: 3
  &__heading    
    position: absolute    
    top: -1rem
    left: 1rem    
    --icon-color: #00ffb3
  &__container
    position: absolute
    top: 1rem
    left: 1rem
    --icon-color: #0084ff 
    z-index: 2
    --icon-size: 2rem
.ico
  --icon-color: #6e00ff
.border
  border-top: 1px solid #6e00ff3b