.height 
  min-height: 10rem
.container
  background: var(--color-gray-100)
  min-height: 10rem
  &__demo
    min-height: 20rem
    background: var(--color-hue-accent-200)
.card 
  min-height: 20rem
  background: var(--color-hue-brand-200)
  padding: 2rem
  &__demo
    min-height: 20rem
    background: var(--color-hue-accent-200)
    padding: 2rem
  &__container
    background: var(--color-hue-brand-100)
    padding: 2rem